# PROJET PYTHON FINAL A3

On import DataFrame et numpy

In [43]:
# storing and anaysis
import numpy as np
import pandas as pd

Fonction qui crée un DataFrame

In [48]:
data=pd.read_csv("./valeursfoncieres-2020.txt", sep="|",low_memory=False)
data.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1061.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,85.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1115.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1940.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1148.0

On commence le netoyage des données

In [50]:
#data = data.dropna(axis=1,how='all')
column_with_nan = data.columns[data.isna().any()]
for column in column_with_nan:
    if data[column].isna().sum()*100.0/data.shape[0] > 50:
        data.drop(column,1, inplace=True)
#data.drop(['Code service CH','Reference document','1 Articles CGI','2 Articles CGI','3 Articles CGI','4 Articles CGI','5 Articles CGI','No disposition'], axis=1, inplace=True)
#data.drop(['No voie','B/T/Q'],axis=1, inplace=True)
#data.drop(['Prefixe de section','Section','No plan','No Volume','1er lot','Surface Carrez du 1er lot','2eme lot','Surface Carrez du 2eme lot','3eme lot','Surface Carrez du 3eme lot','4eme lot','Surface Carrez du 4eme lot','5eme lot','Surface Carrez du 5eme lot','Nombre de lots','Code type local','Identifiant local','Nature culture'],axis=1, inplace=True)
data

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,...,Code commune,Section,No plan,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain
0,1,07/01/2020,Vente,"8000,00",NaN,NaN,B063,FORTUNAT,1250.0,CEYZERIAT,...,72,AK,216,0,NaN,NaN,NaN,NaN,T,1061.0
1,1,02/01/2020,Vente,"2175,00",NaN,NaN,B124,TERRES DES CINQ SAULES,1290.0,LAIZ,...,203,B,4,0,NaN,NaN,NaN,NaN,BT,85.0
2,1,02/01/2020,Vente,"2175,00",NaN,NaN,B006,BOIS DU CHAMP RION,1290.0,LAIZ,...,203,B,173,0,NaN,NaN,NaN,NaN,T,1115.0
3,1,02/01/2020,Vente,"2175,00",NaN,NaN,B025,EN COROBERT,1290.0,LAIZ,...,203,B,477,0,NaN,NaN,NaN,NaN,T,1940.0
4,1,02/01/2020,Vente,"2175,00",NaN,NaN,B124,TERRES DES CINQ SAULES,1290.0,LAIZ,...,203,C,68,0,NaN,NaN,NaN,NaN,T,1148.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459555,1,16/12/2020,Vente,"1937500,00",24.0,RUE,1748,CHANOINESSE,75004.0,PARIS 04,...,104,AW,19,0,2.0,Appartement,87.0,4.0,S,447.0
2459556,1,16/12/2020,Vente,"1937500,00",24.0,RUE,1748,CHANOINESSE,75004.0,PARIS 04,...,104,AW,19,0,3.0,Dépendance,0.0,0.0,S,447.0
2459557,1,16/12/2020,Vente,"1937500,00",24.0,RUE,1748,CHANOINESSE,75004.0,PARIS 04,...,104,AW,19,0,2.0,Appartement,82.0,2.0,S,447.0
2459558,1,16/12/2020,Vente,"1937500,00",24.0,RUE,1748,CHANOINESSE,75004.0,PARIS 04,...,104,AW,19,0,3.0,Dépendance,0.0,0.0,S,447.0
2459559,1,08/10/2020,Adjudication,"255000,00",39.0,RUE,8752,SAINT-SAUVEUR,75002.0,PARIS 02,...,102,AM,143,2,2.0,Appartement,21.0,1.0,NaN,NaN

In [34]:
#data = data.dropna()
data["Valeur fonciere"] = data["Valeur fonciere"].str.replace(',','.')
data.head()

,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Type local,Surface reelle bati,Nombre pieces principales,Nature culture speciale,Surface terrain
0,07/01/2020,Vente,8000.00,NaN,B063,FORTUNAT,1250.0,CEYZERIAT,01,72,NaN,NaN,NaN,NaN,1061.0
1,02/01/2020,Vente,2175.00,NaN,B124,TERRES DES CINQ SAULES,1290.0,LAIZ,01,203,NaN,NaN,NaN,NaN,85.0
2,02/01/2020,Vente,2175.00,NaN,B006,BOIS DU CHAMP RION,1290.0,LAIZ,01,203,NaN,NaN,NaN,NaN,1115.0
3,02/01/2020,Vente,2175.00,NaN,B025,EN COROBERT,1290.0,LAIZ,01,203,NaN,NaN,NaN,NaN,1940.0
4,02/01/2020,Vente,2175.00,NaN,B124,TERRES DES CINQ SAULES,1290.0,LAIZ,01,203,NaN,NaN,NaN,NaN,1148.0

On convertie certaine colonnes en float

In [42]:
data.isna().sum()

Date mutation                      0
Nature mutation                    0
Valeur fonciere                31752
Type de voie                 1017945
Code voie                      30948
Voie                           31123
Code postal                    30992
Commune                            0
Code departement                   0
Code commune                       0
Type local                   1143726
Surface reelle bati          1145290
Nombre pieces principales    1145290
Nature culture speciale      2352011
Surface terrain               767675
dtype: int64

In [39]:
data["Valeur fonciere"] = pd.to_numeric(data["Valeur fonciere"])
data["Surface reelle bati"] = pd.to_numeric(data["Surface reelle bati"])
data["Code postal"].astype(int)
print(data.dtypes)
data.head()

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [23]:
# On calcul le prix au metre carré de chaque commune
tempPrix = data.dropna()
tempPrix["Prix m2"] = tempPrix["Valeur fonciere"] / tempPrix["Surface reelle bati"]
tempPrix
#data["Prix m2"] = data["Valeur fonciere"] / data["Surface reelle bati"]
#data
#temp = data.groupby(["Code departement"])["Prix m2"].max()
#temp.style.background_gradient(cmap='Blues')

<ipython-input-23-ba5676d78ea8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempPrix["Prix m2"] = tempPrix["Valeur fonciere"] / tempPrix["Surface reelle bati"]

,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Type local,Surface reelle bati,Nombre pieces principales,Nature culture speciale,Surface terrain,Prix m2
27,13/01/2020,Vente,179210.0,IMP,0080,DE LA CULOTTE,1310.0,MONTRACOL,01,264,Maison,90.0,5.0,JARD,1350.0,1991.222222
202,27/01/2020,Vente,135000.0,RUE,3120,PIERRE TERRASSON,1000.0,BOURG-EN-BRESSE,01,53,Maison,57.0,3.0,POTAG,472.0,2368.421053
550,17/01/2020,Vente en l'état futur d'achèvement,210000.0,RTE,0095,DE L ETOILE,1310.0,MONTRACOL,01,264,Maison,96.0,4.0,JARD,659.0,2187.500000
679,23/01/2020,Vente,216000.0,RTE,0045,DE LA CHAPELLE,1250.0,CORVEISSIAT,01,125,Maison,117.0,5.0,JARD,840.0,1846.153846
697,31/01/2020,Vente,218000.0,RUE,0410,VIES DE BOURG,1340.0,BRESSE VALLONS,01,130,Maison,106.0,4.0,JARD,219.0,2056.603774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2405056,15/10/2020,Vente,140000.0,RUE,0125,FRANCIS RIVIERE,97425.0,LES AVIRONS,974,1,Maison,94.0,5.0,PROTE,1125.0,1489.361702
2405057,15/10/2020,Vente,140000.0,RUE,0125,FRANCIS RIVIERE,97425.0,LES AVIRONS,974,1,Maison,94.0,5.0,PROTE,3304.0,1489.361702
2405164,02/10/2020,Vente,40000.0,CHE,1036,HENRI CABEU,97418.0,LE TAMPON,974,22,Maison,100.0,6.0,IMPRO,2320.0,400.000000
2405230,16/10/2020,Vente,300000.0,IMP,2126,DES BARBADINES,97418.0,LE TAMPON,974,22,Maison,50.0,3.0,FILAO,1000.0,6000.000000
2405232,16/10/2020,Vente,300000.0,IMP,2126,DES BARBADINES,97418.0,LE TAMPON,974,22,Maison,65.0,4.0,FILAO,1000.0,4615.384615