# PROJET PYTHON FINAL A3

On import DataFrame et numpy

In [6]:
# storing and anaysis
import numpy as np
import pandas as pd

Fonction qui crée un DataFrame

In [7]:
data=pd.read_csv("./valeursfoncieres-2020.txt", sep="|")
data.head()

C:\Users\petil\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (14,18,23,24,26,28,31,33,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1061.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,85.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1115.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1940.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1148.0

On commence le netoyage des données

In [8]:
data.drop(['Code service CH','Reference document','1 Articles CGI','2 Articles CGI','3 Articles CGI','4 Articles CGI','5 Articles CGI','No disposition'], axis=1, inplace=True)
data.drop(['No voie','B/T/Q'],axis=1, inplace=True)
data.drop(['Prefixe de section','Section','No plan','No Volume','1er lot','Surface Carrez du 1er lot','2eme lot','Surface Carrez du 2eme lot','3eme lot','Surface Carrez du 3eme lot','4eme lot','Surface Carrez du 4eme lot','5eme lot','Surface Carrez du 5eme lot','Nombre de lots','Code type local','Identifiant local','Nature culture'],axis=1, inplace=True)
data

,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Type local,Surface reelle bati,Nombre pieces principales,Nature culture speciale,Surface terrain
0,07/01/2020,Vente,"8000,00",NaN,B063,FORTUNAT,1250.0,CEYZERIAT,1,72,NaN,NaN,NaN,NaN,1061.0
1,02/01/2020,Vente,"2175,00",NaN,B124,TERRES DES CINQ SAULES,1290.0,LAIZ,1,203,NaN,NaN,NaN,NaN,85.0
2,02/01/2020,Vente,"2175,00",NaN,B006,BOIS DU CHAMP RION,1290.0,LAIZ,1,203,NaN,NaN,NaN,NaN,1115.0
3,02/01/2020,Vente,"2175,00",NaN,B025,EN COROBERT,1290.0,LAIZ,1,203,NaN,NaN,NaN,NaN,1940.0
4,02/01/2020,Vente,"2175,00",NaN,B124,TERRES DES CINQ SAULES,1290.0,LAIZ,1,203,NaN,NaN,NaN,NaN,1148.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459555,16/12/2020,Vente,"1937500,00",RUE,1748,CHANOINESSE,75004.0,PARIS 04,75,104,Appartement,87.0,4.0,NaN,447.0
2459556,16/12/2020,Vente,"1937500,00",RUE,1748,CHANOINESSE,75004.0,PARIS 04,75,104,Dépendance,0.0,0.0,NaN,447.0
2459557,16/12/2020,Vente,"1937500,00",RUE,1748,CHANOINESSE,75004.0,PARIS 04,75,104,Appartement,82.0,2.0,NaN,447.0
2459558,16/12/2020,Vente,"1937500,00",RUE,1748,CHANOINESSE,75004.0,PARIS 04,75,104,Dépendance,0.0,0.0,NaN,447.0
2459559,08/10/2020,Adjudication,"255000,00",RUE,8752,SAINT-SAUVEUR,75002.0,PARIS 02,75,102,Appartement,21.0,1.0,NaN,NaN

In [9]:
#data = data.dropna()
data["Valeur fonciere"] = data["Valeur fonciere"].str.replace(',','.')
data

<ipython-input-9-6060bc70536c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Valeur fonciere"] = data["Valeur fonciere"].str.replace(',','.')

,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Type local,Surface reelle bati,Nombre pieces principales,Nature culture speciale,Surface terrain
27,13/01/2020,Vente,179210.00,IMP,0080,DE LA CULOTTE,1310.0,MONTRACOL,1,264,Maison,90.0,5.0,JARD,1350.0
202,27/01/2020,Vente,135000.00,RUE,3120,PIERRE TERRASSON,1000.0,BOURG-EN-BRESSE,1,53,Maison,57.0,3.0,POTAG,472.0
550,17/01/2020,Vente en l'état futur d'achèvement,210000.00,RTE,0095,DE L ETOILE,1310.0,MONTRACOL,1,264,Maison,96.0,4.0,JARD,659.0
679,23/01/2020,Vente,216000.00,RTE,0045,DE LA CHAPELLE,1250.0,CORVEISSIAT,1,125,Maison,117.0,5.0,JARD,840.0
697,31/01/2020,Vente,218000.00,RUE,0410,VIES DE BOURG,1340.0,BRESSE VALLONS,1,130,Maison,106.0,4.0,JARD,219.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2405056,15/10/2020,Vente,140000.00,RUE,0125,FRANCIS RIVIERE,97425.0,LES AVIRONS,974,1,Maison,94.0,5.0,PROTE,1125.0
2405057,15/10/2020,Vente,140000.00,RUE,0125,FRANCIS RIVIERE,97425.0,LES AVIRONS,974,1,Maison,94.0,5.0,PROTE,3304.0
2405164,02/10/2020,Vente,40000.00,CHE,1036,HENRI CABEU,97418.0,LE TAMPON,974,22,Maison,100.0,6.0,IMPRO,2320.0
2405230,16/10/2020,Vente,300000.00,IMP,2126,DES BARBADINES,97418.0,LE TAMPON,974,22,Maison,50.0,3.0,FILAO,1000.0
2405232,16/10/2020,Vente,300000.00,IMP,2126,DES BARBADINES,97418.0,LE TAMPON,974,22,Maison,65.0,4.0,FILAO,1000.0

On convertie certaine colonnes en float

In [10]:
data["Valeur fonciere"] = pd.to_numeric(data["Valeur fonciere"])
data["Surface reelle bati"] = pd.to_numeric(data["Surface reelle bati"])

<ipython-input-10-6f1af2206c6f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Valeur fonciere"] = pd.to_numeric(data["Valeur fonciere"])
<ipython-input-10-6f1af2206c6f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Surface reelle bati"] = pd.to_numeric(data["Surface reelle bati"])

In [11]:
# On calcul le prix au metre carré de chaque commune
data['Prix m^2'] = data['Valeur fonciere'] / data['Surface reelle bati']
temp = data.groupby(['Code departement'])['Prix m^2']
temp.style.background_gradient(cmap='Blues')

<ipython-input-11-b6a882c89152>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Prix m^2'] = data['Valeur fonciere'] / data['Surface reelle bati']

AttributeError: 'SeriesGroupBy' object has no attribute 'style'